/* CSS Document */
body{
background-color:#000;
}
section{
	background-color: #000;
}
#footer-section{
	background-color: #fff;
}
#follow-us{
	background-color: #fff;
}
p h1 h2 h3 h4 h5{
background-color:#fff;
}
header{
margin:0;
padding:0;
width:100%;
height:auto;
}

.content{padding-top:100px;}
.icon-bar{background-color:#fff;}
.img-content{padding-top:10px;}
.btn.btn-info{background-color:#FC6; border:none;}
section .position img{width:150px;}
.form{float:right; margin-right:239px;}
.audio{margin-top:10px; width:300px;}
p{text-align:center;}
div.carousel-caption{width:200px;
padding:10px 10px 10px 10px;
			}
.media img{
width:100px;
}
.search-bar{padding-top:20px;
margin-left:100px;}
.form{
margin-right:0}

.form-control{
margin-top:10px;
width:400px;
margin-bottom:20px;
}
.btn{
  margin-left:5px;
  margin-top:20px;
  }

#frame img{
	width:100%;
	height: 100%;
}
#frame{
	padding: 20px;
	left: 50%;
	z-index: 101;
	width: 700px;
	display: none;
	height: 500px;
	background-color: #fff;
	position: fixed;
	margin-left: -350px;
	margin-top: 120px;
}
#overlay{
	width: 100%;
	height: 100%;
	position:fixed;
	display: none;
	opacity: 0.9;
	z-index: 100;
	background-color: #000;
}

#overlay:hover{
	cursor: pointer;
}

#frame:hover{
	cursor: pointer;
}

#listimage img:hover{
	cursor: pointer;
}

#srchform{
	max-width: 50%;
	float:right;
	margin-top: 10px;
	margin-bottom: 0px;
}
#srchform:hover{
	cursor: pointer;
}

#srch{
	margin-top: 0px;
	background: #222;
	color: white;
	outline: 0px;
	box-shadow: none;
	border-radius: 3px;
	border:none;
	display: none;
}
#srch:hover{
	cursor: pointer;
}

#srchclk{
	width: 10px;
	float:right;
	background: #222;
	border: #222;
}
#srchclk:hover{
	cursor: pointer;
}

img{
	transition: all 0.4s ease 0s;
	transform-origin:center center;
	opacity: 0.7;
}
img:hover{
	transform: scale(1.01);
	opacity: 1;
}
#sociallink{
	float: left;
	display: inline-flex;
}
#sociallink li{
	list-style-type: none;
	margin-right: 10px;
}
